<div class="split contacts">
  <div class="split-cover"></div>
  <div class="split-content">
    <h1 class="page-name">{{ ::vm.contacts.title }}</h1>

    <address>
      <p class="block-title">{{ ::vm.contacts.subtitle }}</p>
      <span>{{ ::vm.contacts.town }}</span>
      <a href="mailto:{{ ::vm.contacts.email }}">{{ ::vm.contacts.email }}</a>
      <span>Tel: {{ ::vm.contacts.tel }}</span>
    </address>

    <div class="stores">
      <ul ng-repeat="list in vm.contacts.shops">
        <li><span>{{ list.town }}</span></li>

        <li ng-repeat="link in list.links">
          <a ng-href="{{link.url}}" target="_blank" title="Visit {{ link.name }} site">"{{ link.name }}"</a>
        </li>
      </ul>
    </div>

    <div class="social">
      <a href="https://www.instagram.com/soberaybrand/" target="_blank" class="social__link">
        <svg class="social__link--icon">
          <use xlink:href="#icon-instagram"></use>
        </svg>
      </a>
      <a href="https://www.facebook.com/SoberayTernopil" target="_blank" class="social__link">
        <svg class="social__link--icon">
          <use xlink:href="#icon-social"></use>
        </svg>
      </a>
      <a href="https://vk.com/soberay" target="_blank" class="social__link">
        <svg class="social__link--icon">
          <use xlink:href="#icon-vk"></use>
        </svg>
      </a>
    </div>
  </div>
</div>