

@import 'assets/variables';
@import 'assets/mixins';
@import 'assets/reset';
@import 'assets/base';
@import 'assets/roboto';
@import 'assets/animations';
@import 'assets/gallery';
@import 'partials/header';
@import 'partials/menu';
@import 'partials/social';
@import 'pages/pages';
@import 'pages/home';
@import 'pages/lookbook';
@import 'pages/about';
@import 'pages/catalog';
@import 'pages/contacts';
@import 'pages/split';

#loading-bar .bar {
  background-color: green;
  height: 4px;
}

.spinner {
  animation: sk-scaleout 1s infinite ease-in-out;
  background-color: #fff;
  border-radius: 100%;
  height: 40px;
  left: 50%;
  margin-left: -20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;

  &-wrap {
    position: fixed;
    background-color: rgba(#000, .95);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    transition: .5s;

    &.ng-leave {
      opacity: 1;

      &-active {
        opacity: 0;
      }
    }

    &.ng-enter {
      opacity: 0;

      &-active {
        opacity: 1;
      }
    }
  }
}
