<section class="gallery-wrap">
    <div class="page-title catalog-title">
        <h1>Catalog</h1>
        <nav class="page-navigation">
            <button type="button" class="page-navigation__item" data-ng-click="vm.showAll()">All</button>

            <!--<button type="button" class="page-navigation__item"-->
                    <!--ng-repeat="c in vm.categories"-->
                    <!--ng-click="vm.showImagesOfType(c.groupId)"-->
            <!--&gt;-->
                <!--{{ ::c.name }}-->
            <!--</button>-->
        </nav>
    </div>

    <div class="gallery"
         angular-grid="vm.shots"
         ag-id="catalog"
         ag-options="vm.angularGridOptions">

        <figure class="gallery-item" ng-repeat="p in vm.shots">
            <img ng-src="{{ ::p.src }}?dim=400" class="gallery-img">
        </figure>

    </div>

    <!--ag-infinite-scroll="vm.loadMoreShots()"-->
</section>