//// --- generator ---------------------------------------------------------------
//
//@mixin mq($args...) {
//	$media-type: 'all';
//	$media-type-key: 'media-type';
//	$args: keywords($args);
//	$expr: '';
//
//	@if map-has-key($args, $media-type-key) {
//		$media-type: map-get($args, $media-type-key);
//		$args: map-remove($args, $media-type-key);
//	}
//
//	@each $key, $value in $args {
//		@if $value {
//			//$expr: "#{$expr} and (#{$key}: #{$value})";
//			$expr: "#{$expr} and (#{$key}: #{$value})";
//		}
//	}
//
//	@debug $media-type;
//	@debug $expr;
//
//	@media #{$media-type} #{$expr} {
//		@content;
//	}
//}
//
//// --- screen ------------------------------------------------------------------
//
//@mixin screen($min, $max, $orientation: false) {
//	@include mq($min-width: $min, $max-width: $max, $orientation: $orientation) {
//		@content;
//	}
//}
//
//@mixin max-screen($max) {
//  @include mq($max-width: $max) {
//    @content;
//  }
//}
//
//@mixin min-screen($min) {
//  @include mq($min-width: $min) {
//    @content;
//  }
//}
//
//
//// --- hdpi --------------------------------------------------------------------
//
//@mixin hdpi($ratio: 1.3) {
//  @media only screen and (-webkit-min-device-pixel-ratio: $ratio),
//  only screen and (min-resolution: #{round($ratio*96)}dpi) {
//    @content;
//  }
//}
//
//// --- iphone4 -----------------------------------------------------------------
//
//@mixin iphone4($orientation: false) {
//  $min: 320px;
//  $max: 480px;
//  $pixel-ratio: 2;
//  $aspect-ratio: '2/3';
//
//  @include mq(
//    $min-device-width: $min,
//    $max-device-width: $max,
//    $orientation: $orientation,
//    $device-aspect-ratio: $aspect-ratio,
//    $-webkit-device-pixel-ratio: $pixel-ratio
//  ) {
//    @content;
//  }
//}
//
//// --- iphone5 -----------------------------------------------------------------
//
//@mixin iphone5($orientation: false) {
//  $min: 320px;
//  $max: 568px;
//  $pixel-ratio: 2;
//  $aspect-ratio: '40/71';
//
//  @include mq(
//    $min-device-width: $min,
//    $max-device-width: $max,
//    $orientation: $orientation,
//    $device-aspect-ratio: $aspect-ratio,
//    $-webkit-device-pixel-ratio: $pixel-ratio
//  ) {
//    @content;
//  }
//}
//
//// --- iphone6 -----------------------------------------------------------------
//
//@mixin iphone6($orientation: false) {
//  $min: 375px;
//  $max: 667px;
//  $pixel-ratio: 2;
//
//  @include mq(
//    $min-device-width: $min,
//    $max-device-width: $max,
//    $orientation: $orientation,
//    $-webkit-device-pixel-ratio: $pixel-ratio
//  ) {
//    @content;
//  }
//}
//
//// --- iphone6 plus ------------------------------------------------------------
//
//@mixin iphone6-plus($orientation: false) {
//  $min: 414px;
//  $max: 736px;
//  $pixel-ratio: 3;
//
//  @include mq(
//    $min-device-width: $min,
//    $max-device-width: $max,
//    $orientation: $orientation,
//    $-webkit-device-pixel-ratio: $pixel-ratio
//  ) {
//    @content;
//  }
//}
//
//// --- ipad (all) --------------------------------------------------------------
//
//@mixin ipad($orientation: false) {
//  $min: 768px;
//  $max: 1024px;
//
//  @include mq(
//    $min-device-width: $min,
//    $max-device-width: $max,
//    $orientation: $orientation
//  ) {
//    @content;
//  }
//}
//
//// --- ipad-retina -------------------------------------------------------------
//
//@mixin ipad-retina($orientation: false) {
//  $min: 768px;
//  $max: 1024px;
//  $pixel-ratio: 2;
//
//  @include mq(
//    $min-device-width: $min,
//    $max-device-width: $max,
//    $orientation: $orientation,
//    $-webkit-device-pixel-ratio: $pixel-ratio
//  ) {
//    @content;
//  }
//}
//
//// --- orientation -------------------------------------------------------------
//
//@mixin landscape() {
//  @include mq($orientation: landscape) {
//    @content;
//  }
//}
//
//@mixin portrait() {
//  @include mq($orientation: portrait) {
//    @content;
//  }
//}