.pswp__bg {
	background: rgba(#09161a, .9);
}

.pswp--zoom-allowed .pswp__img {
	cursor: auto;
}

.pswp__ui--fit .pswp__top-bar,
.pswp__ui--fit .pswp__caption {
	background: rgba(#09161a, .8);
}

.pswp__button--fs {
	background: url('../images/default-skin.svg') 0 0px no-repeat;
}

.pswp__button--close {
	background: url('../images/default-skin.svg') 0 -44px no-repeat;
}
.pswp__button--share {
	background: url('../images/default-skin.svg') -44px -44px no-repeat;
}

.pswp__button--zoom {
	background: url('../images/default-skin.svg') -88px 0 no-repeat;
}

.pswp__button--arrow--left,
.pswp__button--arrow--right {
	width: 40px;
	height: 60px;
	overflow: hidden;

	&:before {
		background-image: none!important;
		pointer-events: none;
		background: none;
		width: 60px;
		height: 60px;
		top: 0;
		border: 1px solid #fff;
	}

	@media (min-width: $tablet) {
		width: 80px;
		height: 100px;

		&:before {
			top: 10px;
			width: 80px;
			height: 80px;
		}
	}
}

.pswp__button--arrow--left:before {
	transform: rotate(45deg);
	left: 30px;

	@media (min-width: $tablet) {
		left: 50px;
	}
}

.pswp__button--arrow--right:before {
	transform: rotate(-45deg);
	right: 30px;

	@media (min-width: $tablet) {
		right: 50px;
	}
}