.contacts {
  font-size: 18px;
  text-align: center;

  address > * {
    display: block;
    line-height: 35px;
  }

  @include respond-to(large, landscape) {
    text-align: left;

    .split-cover {
      background: url('../images/contacts.jpg') no-repeat center top;
      background-size: cover;
    }
  }

  @media (max-width: $large) and (orientation: portrait) {

    address {
      margin-bottom: 40px;
    }
  }
}

.stores {
  display: flex;
  margin-bottom: 50px;
  justify-content: space-around;

  @include respond-to(large, landscape) {
    justify-content: flex-start;

    ul {
      min-width: 150px;
    }
  }

  @media (max-width: $large) and (orientation: portrait) {
  }

  @media (max-width: $small) {
    flex-wrap: wrap;

    ul {
      width: 50%;
      margin-bottom: 20px;
    }
  }

  li {
    line-height: 35px;
  }

  a {
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }
  }
}