.home {
    min-height: 100vh;
    background: url('/images/main.jpg') no-repeat center right;
    background-size: cover;

    &:before {
        content: '';
        position: absolute;
        left: 1vw;
        right: 1vw;
        top: 1vh;
        bottom: 1vh;
        border: 1px solid #fff;
    }

    &__wrap {
	    position: absolute;
	    width: 100%;
	    top: 55%;
	    transform: translateY(-50%);
        color: #fff;
        text-align: center;
        backface-visibility: hidden;

        h1 {
	        font-size: 48px;
	        margin-bottom: 5vh;

	        @include respond-to(medium) {
		        font-size: 80px;
	        }

	        @include respond-to(large) {
		        font-size: 150px;
	        }
        }

        h2 {
	        font-size: 24px;
	        line-height: 24px;
	        margin-bottom: 80px;
        }

	    @media (max-width: $tablet) {
		    padding: 0 8%;
	    }

	    .social {
		    @include respond-to(medium) {
			    margin-top: 70px;
		    }
	    }

        //@media (min-width: ($desktop - 1)) {
        //    h1 {
        //        font-size: 54px;
        //        font-size: 15vw;
        //    }
        //
        //    h2 {
        //        font-size: 18px;
        //        font-size: 5vw;
        //    }
        //
        //    //button {
        //    //    height: 50px;
        //    //    line-height: 50px;
        //    //    font-size: 18px;
        //    //}
        //}
        //
        //@media (max-width: $mobile) and (orientation: landscape) {
        //    h1 {
        //        font-size: 54px;
        //        font-size: 10vw;
        //    }
        //
        //    h2 {
        //        font-size: 18px;
        //        font-size: 3vw;
        //    }
        //
        //    //button {
        //    //    font-size: 16px;
        //    //}
        //}
        //
        //@media (min-width: $desktop) {
        //    h1 {
        //        font-size: 170px;
        //        font-size: 9vw;
        //    }
        //
        //    h2 {
        //        font-size: 48px;
        //        font-size: 2.4vw;
        //    }
        //
        //    //button {
        //    //    height: 75px;
        //    //    line-height: 75px;
        //    //    font-size: 24px;
        //    //}
        //}
    }
}