.page-title {
    position: relative;
    height: 500px;
    line-height: 500px;
	text-align: center;
    color: #fff;
	background-size: cover;
	background-position: bottom right;
	background-repeat: no-repeat;

    h1 {
        text-transform: uppercase;
	    font-size: 48px;

	    @include respond-to(medium) {
		    font-size: 72px;
	    }

	    @include respond-to(large) {
		    font-size: 100px;
	    }
    }

    @media (max-width: $mobile) {
        font-size: 48px;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
        height: 100vh;
        line-height: 100vh;
    }
}

.page-navigation {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(#000, .45);
    
    &__item {
        color: #bcd9db;
        font-size: 20px;
        font-weight: 300;
        transition: color .1s linear;
        
        &:hover,
        &.active {
            color: #fff;
        }

        &:not(:last-of-type) {
            margin-right: 80px;
        }
    }
}

.button {
    position: relative;
	height: 50px;
	line-height: 50px;
	font-size: 18px;
    padding: 0 5%;
	color: #fff;
	border: 1px solid #fff;
	transition: color .2s ease;
	backface-visibility: hidden;

	&:hover {
		color: #09161a;

		&:after {
			background: #fff;
		}
	}

    &:after {
        content: '';
        position: absolute;
        width: 101%;
        height: 0;
        top: 50%;
        left: 50%;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
        transition: all .2s ease;
    }

    span {
        position: relative;
        z-index: 2;
        backface-visibility: hidden;
    }

    &:hover:after {
        height: 75%;
        opacity: 1;
    }

	@media (max-width: $mobile) {
		width: 100%;
	}

	@include respond-to(medium) {
		min-width: 300px;
		margin: 0 auto;
	}

	@include respond-to(huge) {
		height: 75px;
		line-height: 75px;
		font-size: 24px;
	}
}