$header: 110px;

.split {
	position: absolute;
	left: 0;
	top: $header;
	width: 100%;
	height: calc(100% - #{$header});
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: ($header + 30px);
	overflow: scroll;

	@include respond-to(medium, portrait) {
		top: ($header * 2);
		padding-bottom: ($header * 2) + 50px;
	}

	@include respond-to(large, landscape) {
		padding-left: 46%;
		padding-right: 6%;
	}

    &:after {
        content: '';
        clear: both;
        display: table;
    }

    &-cover {
	    display: none;
	    position: fixed;
	    left: 0;
	    top: 0;
	    width: 40%;
	    height: 100%;

	    @include respond-to(large, landscape) {
		    display: block;
	    }
    }

    &-content {
	    color: #bcd9db;
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    min-height: 100%;
        
	    a {
		    color: #bcd9db;
		    text-decoration: none;

		    &:hover {
			    text-decoration: underline;
		    }
	    }
    }
}

.page-name {
	font-size: 30px;
	margin-bottom: 20px;

	@include respond-to(medium) {
	    font-size: 36px;
	}
}

.block-title {
	font-size: 24px;
	margin-bottom: 10px;

	@include respond-to(medium) {
	    font-size: 32px;
	    margin-bottom: 60px;
	}
}

.block-content {
	font-size: 18px;
	line-height: 22px;
	margin-bottom: 25px;

	@include respond-to(medium) {
	    font-size: 22px;
	    line-height: 30px;
	}
}

.button {
	margin-bottom: 50px;
}