.header {
	@extend %header;
	left: 5%;
    backface-visibility: hidden;
}

.logo {
    text-decoration: none;

    &__img {
        fill: #fff;
        -webkit-user-drag: none;
        user-drag: none;
	    width: 63px;
	    height: 70px;

        @include respond-to(medium) {
	        width: 93px;
	        height: 100px;
        }
    }
}