.nav {
  align-items: center;
  display: flex;
  flex-direction: column;

  &__item {
    backface-visibility: hidden;
    color: #bcd9db;
    font-weight: 100;
    letter-spacing: .25rem;
    text-transform: uppercase;
    transition: color .2s ease;

    @include respond-to(medium) {
      font-size: 48px;
      letter-spacing: .5rem;
    }

    @media (max-width: $medium) {
      font-size: 32px;
    }

    &:not(:last-of-type) {
      margin-bottom: 40px;

      @media (max-width: $medium) and (orientation: landscape) {
        font-size: 28px;
        margin-bottom: 10px;
      }
    }

    &:hover,
    &.active {
      color: #fff;
    }
  }
}

.menu {
  overflow: hidden;

  .social {
    margin-top: 12vh;
  }
}

.menu-overlay {
  background-image: radial-gradient(ellipse farthest-side at center, #444152 0%, #1d1c23 100%);
  bottom: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  will-change: opacify;
  z-index: 2;

  &.ng-enter,
  &.ng-leave {
    transition: all .4s ease;

    .nav__item {
      transition: all 400ms cubic-bezier(.17, .67, .38, 1.46);
    }

    .social {
      transition: all .4s ease;
    }
  }
  &.ng-enter,
  &.ng-leave.ng-leave-active {
    opacity: 0;

    .nav__item {
      opacity: 0;
      transform: scale(0.3);
    }

    .social {
      transform: translateY(50px);
    }
  }
  &.ng-leave,
  &.ng-enter.ng-enter-active {
    opacity: 1;

    .nav__item {
      opacity: 1;
      transform: none;
    }

    .social {
      transform: translateY(0);
    }
  }

  .social {
    text-align: center;
  }
}

.menu-wrap {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
}

.menu-toggle {
  @extend %header;
  align-items: center;
  color: #fff;
  display: flex;
  font-size: 22px;
  right: 4%;
  text-transform: uppercase;

  @include respond-to(medium) {
    right: 5%;
  }

  span {
    vertical-align: middle;
  }

  &__btn {
    height: 45px;
    margin-left: 20px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    vertical-align: middle;
    width: 60px;

    span {
      backface-visibility: hidden;
      background: #fff;
      display: block;
      height: 9px;
      opacity: 1;
      position: absolute;
      transform: rotate(0deg);
      transition: .25s ease-in-out;
      width: 50%;

      &:nth-child(even) {
        border-radius: 0 9px 9px 0;
        left: 50%;
      }

      &:nth-child(odd) {
        border-radius: 9px 0 0 9px;
        left: 0;
      }

      &:nth-child(1),
      &:nth-child(2) {
        top: 0;
      }

      &:nth-child(3),
      &:nth-child(4) {
        top: 18px;
      }

      &:nth-child(5),
      &:nth-child(6) {
        top: 36px;
      }
    }
  }
}

.menu-opened {
  .menu-toggle__btn {
    span {
      &:nth-child(1),
      &:nth-child(6) {
        transform: rotate(45deg);
      }

      &:nth-child(2),
      &:nth-child(5) {
        transform: rotate(-45deg);
      }

      &:nth-child(1) {
        left: 5px;
        top: 7px;
      }

      &:nth-child(2) {
        left: calc(50% - 5px);
        top: 7px;
      }

      &:nth-child(3) {
        left: -50%;
        opacity: 0;
      }

      &:nth-child(4) {
        left: 100%;
        opacity: 0;
      }

      &:nth-child(5) {
        left: 5px;
        top: 29px;
      }

      &:nth-child(6) {
        left: calc(50% - 5px);
        top: 29px;
      }
    }
  }
}

//&__btn {
//    position: relative;
//    width: 30px;
//    height: 20px;
//    margin-left: 20px;
//    vertical-align: middle;
//
//    &.opened span {
//        background-color: transparent;
//
//        &:before {
//            top: 0;
//            transform: rotate(45deg);
//        }
//
//        &:after {
//            bottom: 0;
//            transform: rotate(-45deg);
//        }
//    }
//
//    &--menu {
//        position: absolute;
//        left: 0;
//        top: 50%;
//        transform: translateY(-50%);
//        width: 100%;
//        height: 3px;
//        background-color: #fff;
//        transition: background-color .2s ease;
//        pointer-events: none;
//
//        &:before,
//        &:after {
//            content: '';
//            position: absolute;
//            width: 100%;
//            height: 3px;
//            left: 0;
//            background-color: #fff;
//            transition: .3s ease;
//            will-change: top, transform;
//        }
//
//        &:before {
//            top: -8px;
//        }
//
//        &:after {
//            bottom: -8px;
//        }
//    }
//}
