.social {
	text-align: center;

	&__link {
		display: inline-block;
		text-decoration: none;

		&:not(:last-child) {
			margin-right: 35px;
		}

		&:hover svg {
			fill: #fff;
		}

		&:active  svg {
			fill: #d2eff1;
		}

		&--icon {
			width: 30px;
			height: 30px;
			fill: #bcd9db;
			transition: fill .2s ease;
		}
	}
}