@keyframes sk-scaleout {
	0% {
		transform: scale(0);
	} 100% {
		  transform: scale(1.0);
		  opacity: 0;
	  }
}


//[ui-view] {
//    position: absolute;
//    left: 0;
//    right: 0;
//    min-height: 100%;
//    transition: all .5s ease;
//
//    &.ng-leave {
//        opacity: 1;
//        z-index: 1;
//        transform: none;
//
//        &-active {
//            opacity: 0;
//            transform: translateY(10px);
//        }
//    }
//
//    &.ng-enter {
//        opacity: 0;
//        z-index: 2;
//        transform: translateY(10px);
//        transition-delay: .25s;
//
//        &-active {
//            opacity: 1;
//            transform: none;
//        }
//    }
//}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-50px, 0, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

@keyframes slideInUp {
    from {
        opacity: 0;
        transform: translateY(-30%);
    }

    to {
        opacity: 1;
        transform: translateY(-50%);
    }
}

@keyframes slideInDown {
    from {
        opacity: 1;
        transform: translateY(-50%);
    }

    to {
        opacity: 0;
        transform: translateY(-30%);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes circle {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes appear {
	from {
		opacity: 0;
		transform: translateY(10%);
	}
	to {
		opacity: 1;
		transform: none;
	}
}