/* Base styles */
* {
    box-sizing: border-box;
}

html, body {
	position: relative;
	height: 100%;
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
	//overflow: hidden;

    &.menu-opened {
        overflow: hidden;

        @media (max-width: $tablet) {
            position: fixed;
            height: 100%;
            width: 100%;
            top: 0;
            bottom: 0;
        }
    }
}

main {
	position: fixed;
	left: 0;
	right: 0;
	min-height: 100%;
	height: 100%;
	width: 100%;
	background: radial-gradient(ellipse at center, #444152 0%,#1d1c23 100%);
	transition: all .35s ease;
	overflow-y: scroll;
	will-change: opacity;

	&.ng-leave {
		opacity: 1;

		&-active {
			opacity: 0;
		}
	}

	&.ng-enter {
		opacity: 0;

		&-active {
			opacity: 1;
		}
	}
}

button {
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    &:focus {
        outline: none;
    }
}

.svg-sprite svg {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 0;
}