// Reassign default styles
@import "../libs/photoswipe";

.gallery-wrap {
	position: relative;
	background-color: #fff;
	width: 100%;
	min-height: 100%;
	overflow-y: scroll;
}

.gallery {
	margin: 2% auto;
	width: 96%;

	&-item {
		position: absolute;
		background: white;
		opacity: 0;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
		transition: all .4s ease;
		overflow: hidden;
		backface-visibility: hidden;

		//&.ng-leave {
		//	transition: all ease 400ms;
		//}
		&.ng-leave.ng-leave-active {
			transform: scale(0.5);
			opacity: 0;
		}
		&.ng-enter {
			//transition: all ease 400ms;
			transition-delay: 500ms;
			transform: scale(0.5);
			opacity: 0;
		}
		&.ng-enter.ng-enter-active {
			transform: scale(1);
			opacity: 1;
		}

		a {
			display: block;
			width: 100%;
			height: 100%;
		}
	}
}


.gallery-img {
	width: 100%;
	vertical-align: middle;
	transition: opacity .4s ease-out;
	background-color: #fff;
	opacity: 0;
	visibility: hidden;
}

.gallery-img.img-loaded {
	visibility: visible;
	opacity: 1;
}