@mixin respond-to($name, $orientation:null) {
	// If the key exists in the map
	@if map-has-key($breakpoints, $name) {
		$query: '';

		@if $orientation == null {
			$query: inspect(map-get($breakpoints, $name));
		}

		@else {
			$query: inspect(map-get($breakpoints, $name)) + " and (orientation: #{$orientation})";
		}

		@media #{$query} {
			@content;
		}
	}
}

@mixin mq-orientation($orientation) {
	@media (orientation: #{$orientation}) {
		@content;
	}
}

%header {
	position: fixed;
	top: 20px;
	height: 70px;
	z-index: 3;
	transition: opacity .2s ease;

	.opened & {
		opacity: .1;
	}

	@include respond-to(medium) {
		height: 100px;
		top: 50px;
	}

	@include respond-to(medium, landscape) {
		top: 30px;
	}
}
