// Breakpoints
$extra-small: 320px;
$small: 480px;
$medium: 768px;
$large: 992px;
$huge: 1280px;

$breakpoints: (
	'extra-small' : ( min-width:  $extra-small ),  // Custom, iPhone Retina
	'small'       : ( min-width:  $small ),        // Extra Small Devices, Phones
	'medium'      : ( min-width:  $medium ),       // Small Devices, Tablets Portrait
	'large'       : ( min-width:  $large ),        // Medium Landscape, Desktops
	'huge'        : ( min-width:  $huge )          // Large Devices, Wide Screens
);

$mobile: 767px;
$tablet: 992px;
$desktop: 12px;
$large: $huge;