<div class="home">
    <div class="home__wrap">
        <h1>Soberay</h1>
        <h2>reveals new sides of streetwear</h2>

        <button type="button" class="button" ui-sref="lookbook">
            <span>View colection</span>
        </button>

        <div class="social">
            <a href="https://www.instagram.com/soberaybrand/" target="_blank" class="social__link">
                <svg class="social__link--icon">
                    <use xlink:href="#icon-instagram"></use>
                </svg>
            </a>
            <a href="https://vk.com/soberay" target="_blank" class="social__link">
                <svg class="social__link--icon">
                    <use xlink:href="#icon-vk"></use>
                </svg>
            </a>
            <a href="https://www.facebook.com/SoberayTernopil" target="_blank" class="social__link">
                <svg class="social__link--icon">
                    <use xlink:href="#icon-social"></use>
                </svg>
            </a>
        </div>
    </div>
</div>