<div class="split about">
  <div class="split-cover"></div>
  <div class="split-content">
    <h1 class="page-name">{{ ::vm.about.title }}</h1>

    <div>
      <p class="block-title">{{ ::vm.about.subtitle }}</p>

      <p class="block-content">{{ ::vm.about.text }}</p>
    </div>

    <button type="button" class="button" ui-sref="contacts">
      <span>Contact us</span>
    </button>

    <div class="social">
      <a href="https://www.instagram.com/soberaybrand/" target="_blank" class="social__link">
        <svg class="social__link--icon">
          <use xlink:href="#icon-instagram"></use>
        </svg>
      </a>
      <a href="https://www.facebook.com/SoberayTernopil" target="_blank" class="social__link">
        <svg class="social__link--icon">
          <use xlink:href="#icon-social"></use>
        </svg>
      </a>
      <a href="https://vk.com/soberay" target="_blank" class="social__link">
        <svg class="social__link--icon">
          <use xlink:href="#icon-vk"></use>
        </svg>
      </a>
    </div>
  </div>
</div>