<section id="lookbook" class="gallery-wrap">
    <div class="page-title lookbook-title">
        <h1>LookBook</h1>
    </div>

    <div sb-gallery
         angular-grid="vm.photos"
         ag-id="shots"
         ag-options="vm.angularGridOptions"
    >
        <figure class="gallery-item animated"
                ng-repeat="p in vm.photos"
        >
            <a ng-href="{{ p.src }}" data-size="{{ p.w }}x{{ p.h }}">
                <img ng-src="{{ p.src }}?dim=400" class="gallery-img">
            </a>
        </figure>
    </div>
</section>