<div class="menu">
    <div class="menu-toggle">
        <span>Menu</span>

        <button class="menu-toggle__btn" ng-click="vm.toggle()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <div class="menu-overlay animated" ng-if="vm.isOpen()">
        <div class="menu-wrap">
            <nav class="nav">
                <button class="nav__item" ui-sref="catalog" ui-sref-active="active">Catalog</button>
                <button class="nav__item" ui-sref="about" ui-sref-active="active">About</button>
                <button class="nav__item" ui-sref="lookbook" ui-sref-active="active">Lookbook</button>
                <button class="nav__item" ui-sref="contacts" ui-sref-active="active">Contacts</button>
            </nav>

            <div class="social">
                <a href="#" class="social__link">
                    <svg class="social__link--icon">
                        <use xlink:href="#icon-instagram"></use>
                    </svg>
                </a>
                <a href="#" class="social__link">
                    <svg class="social__link--icon">
                        <use xlink:href="#icon-vk"></use>
                    </svg>
                </a>
                <a href="#" class="social__link">
                    <svg class="social__link--icon">
                        <use xlink:href="#icon-social"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>