﻿<div data-ng-controller="ShellController as vm">
    <header class="header">
        <button ui-sref="home" class="logo">
            <img src="images/logo.svg" class="logo__img">
        </button>
    </header>

    <main ui-view class="animated"></main>

    <sb-menu></sb-menu>
</div>