<form foass="row" role="form" enctype="multipart/form-data" uploader="uploader" nv-file-drop="">
  <div class="col-md-3">

    <h2>Select files</h2>

    <div ng-show="uploader.isHTML5">
      <div class="well my-drop-zone" nv-file-over="" uploader="uploader">
        Base drop zone
      </div>
    </div>

    <div class="btn btn-primary btn-block btn-file">
      <i class="glyphicon glyphicon-folder-open"></i>
      <span class="hidden-xs"> Browse …</span>
      <input type="file" nv-file-select="" uploader="uploader" options="options" filters="imageFilter" multiple>
    </div>
  </div>

  <div class="col-md-9">
    <h2>Uploads photos to Lookbook</h2>
    <p>Queue length: {{ uploader.queue.length }}</p>

    <p>Queue progress:</p>

    <div class="progress">
      <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
    </div>

    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()"
            ng-disabled="!uploader.getNotUploadedItems().length">
      <span class="glyphicon glyphicon-upload"></span> Upload all
    </button>
    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()"
            ng-disabled="!uploader.isUploading">
      <span class="glyphicon glyphicon-ban-circle"></span> Cancel all
    </button>
    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()"
            ng-disabled="!uploader.queue.length">
      <span class="glyphicon glyphicon-trash"></span> Remove all
    </button>

    <table class="table" style="margin-top: 40px">
      <thead>
      <tr>
        <th width="50%">Name</th>
        <th ng-show="uploader.isHTML5">Size</th>
        <th ng-show="uploader.isHTML5">Progress</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
      </thead>

      <tbody>
      <tr ng-repeat="item in uploader.queue">
        <td>
          <strong>{{ item.file.name }}</strong>
          <div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>
        </td>

        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>

        <td ng-show="uploader.isHTML5">
          <div class="progress" style="margin-bottom: 0;">
            <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
          </div>
        </td>

        <td class="text-center">
          <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
          <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
          <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
        </td>

        <td nowrap>
          <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()"
                  ng-disabled="item.isReady || item.isUploading || item.isSuccess">
            <span class="glyphicon glyphicon-upload"></span> Upload
          </button>
          <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
            <span class="glyphicon glyphicon-ban-circle"></span> Cancel
          </button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
            <span class="glyphicon glyphicon-trash"></span> Remove
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>